@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}

body {
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}

main {
  width: 480px;
}

form > * {
  margin: 10px 0;
}
.Navbar {
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: #006df9;
  width: 100%;
  border-radius: 3px;
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: 0.6em;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

.root-common {
  width: 100%;
  align-items: center;
  display: flex;
}

.root-payment-div {
  height: 80vh;
  justify-content: center;
}

.root-cart-div {
  justify-content: flex-end;
}
.root-sdk-div {
  justify-content: flex-start;
}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}

form > * {
  margin: 10px 0;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: 0.6em;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

.Navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  background: #0046be;
  justify-content: space-between;
  padding-left: 180px;
  padding-right: 180px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1.17);
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #f0eded;
}

.ItemTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}
.ItemContainer {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.itemDetails {
  padding: 8px;
}
.itemImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 220px;
  height: 100px;
}
.name {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 16.3902px;
  padding-bottom: 10px;
  color: #212529;
}
.value {
  color: #212121;
}
.props {
  text-align: initial;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  color: #868e96;
  font-size: 15px;
}
.MenuItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  height: auto;
  width: 40%;
}

.SDK {
  display: flex;
  margin: 4%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.checkoutButton {
  height: 48px;
  border-radius: 25px;
  width: 100%;
  border: transparent;
  background: #006df9;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.ConfirmContainer {
  width: 100%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.Cart {
  width: 100%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: left;
}

.checkoutSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left;
  padding: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

.subtext {
  padding-top: 3%;
  color: rgba(33, 33, 33, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.here {
  color: #006df9;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #016df9;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #016df9;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

.CheckoutButton {
  color: #ffffff;
  width: 362px;
  background: #006df9;
  padding: 16px 8px;
  font-weight: 600;
  font-size: 17px;
  border-radius: 64px;
  border: transparent;
  cursor: pointer;
}

.total {
  font-weight: 800;
  font-size: 19px;
  color: #000000;
}

.orderSummary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: initial;
}

.items {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.elements {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cartItems {
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}
.Workspace {
  height: 86vh;
  display: flex;
  flex-direction: row;
}
.confirmBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}
.returnLink {
  font-weight: 400;
  font-size: 16px;
  color: #4285f4;
}
.ConfirmText {
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.ConfirmDes {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  opacity: 0.4;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  background: #ffffff;
  align-items: flex-start;
  height: 80%;
  width: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
  border-radius: 6.47171px;
  margin-top: 10%;
  margin-bottom: 5%;
  overflow-y: scroll;
}

.containerText {
  width: 100%;
  display: flex;
  padding-top: 5%;
}

.paymentDescription {
  height: 100%;
  width: 100%;
  padding: 1%;
}

.textbox {
  display: flex;
  background: rgba(187, 187, 187, 0.08);
  /* height: 100px; */
  padding: 5%;
  margin: 2%;
  border-radius: 8px;
  text-align: left;
  font-weight: 200;
}
.listItem {
  padding: 1%;
  padding-top: 0%;
}

.Container {
  height: 86vh;
  overflow-y: scroll;
  gap: 1%;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.body1 {
  display: flex;
  margin: 1em;
  width: 50%;
}
.body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  width: 50%;
}
.bodyContainer2 {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  height: 80%;
  width: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
  border-radius: 6.47171px;
  margin-top: 10%;
  margin-bottom: 5%;
  overflow-y: scroll;
}

.Blogs {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.Contact {
  width: 50%;
  cursor: pointer;
}

.Footerlink {
  cursor: pointer;
  color: #cdecff;
  overflow-wrap: break-word;
}

.Menulink {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #151a1f;
  text-decoration: none;
}

.earlyAccess {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.GetEarlyAccess {
  width: 10%;
}

.select {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  border-radius: 25px;
  color: #212121;
  border: 1px solid #d6d9e0;
}

.countrySelect {
  outline: none;
  background: transparent;
  border: transparent;
}

.Footer {
  display: flex;
  color: #cdecff;
  justify-content: center;
  align-items: center;
  background: #152b45;
  height: 7vh;
}

@media only screen and (max-width: 1200px) {
  .ConfirmDes {
    width: 100%;
  }
  .Container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
    height: auto;
    overflow-y: scroll;
    gap: 1%;
    overflow-x: hidden;
  }
  .Footer {
    padding: 2%;
    height: fit-content;
    flex-direction: column;
    gap: 30px;
  }
  .checkoutButton {
    width: 95%;
  }
  .body1 {
    width: 100%;
    overflow-y: hidden;
  }
  .body2 {
    width: 100%;
  }
  .img {
    justify-content: flex-start;
  }
  .Menulink {
    display: none;
  }
  .GetEarlyAccess {
    width: 102%;
    display: none;
  }
  .Navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .checkoutSection {
    flex-direction: column-reverse;
    width: 100%;
  }
  .description {
    width: 100%;
    text-align: center;
  }
}
